*{
    margin: 0;
    padding: 0;
}

body{
  min-height: 100vh;  
  font-family: 'Courier New', Courier, monospace;
}




/* NAVIGATION BAR STARTS HERE*/

nav{
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgb(0, 0, 0,0.1);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
height: 50px;
}

nav a{
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav p{
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover{
  background-color: rgba(209, 209, 209, 0.326);
  transition: all 0.3s ease-in-out;
}
nav a:active{
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}


nav li:first-child{
  margin-right: auto;
}

.sidebar{
 position: fixed; 
 top: 0;
 right: 0;
 height: 100%;
 width: 250px;
 z-index: 999;
 background-color: rgba(255, 255, 255, 0.007);
 box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(10px);
 display: none;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
}

.sidebar li{
 width: 100%; 
}

.sidebar a{
 width: 100%; 
}
.menu-button{
  display: none;
}

.sarah-logo {
  font-weight: bold;
  border: 1px solid black;
  height: 30px;
  position: relative;
  left: 10px;
}
.sarah-logo2 {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  
  color: black;
  height: 15px;
  position: relative;
  font-size: 9px;
  width: 52.8%;
  left: 30px;
  bottom: 9px;
  text-align: center;
}
/*navigation bar ends here*/




/*nBANNER STARTS HERE*/
.banner{
  background-image: url(../images/cccccccccc.jpg);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*Notice section*/
.notice{
  background-color: rgb(255, 198, 119);
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
}

.dont-click a{
position: relative;
font-size: 1rem;
background-color: rgb(38, 0, 255);
top: 3px;
padding-top: 5px;
padding-left: 5px;
padding-right: 5px;
}

.dont-click a:active{
  font-size: 1.3rem;
  background-color: chartreuse;
}
.dont-click a:hover{
  background-color: red;
}



/*collection section */

.collection ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  
}

.collection img{
  height: 2.5rem;
  width: 3.5rem;
  padding: 0 28px;
  display: flex;
 
}





/*MEDIA QUERY STARTS HERE*/

@media (max-width: 768px) {
  .sidebar{
      width: 50%;
    }
  .hide {
    display: none;
}

.menu-button{
  display: block;
}

.banner{
  height: 600px;
}
.collection img{
  height: 2rem;
  width: 2.7rem;
  padding: 0 14px;
 
}
  }



  @media (max-width: 426px) {
    .sidebar{
      width: 100%;
    }
    .banner{
  height: 400px;
}
  .hideme {
    display: none;
}
.collection img{
  height: 2rem;
  width: 2.7rem;
  padding: 0 6px;
 
}

  }


  @media(max-width: 376px) {
#hideme2 {
  display: none;
}
.collection img {
  height: 2rem;
  width: 2.8rem;
  padding: 0 6px; 
}
  }
    
